# Global Owners
* @porcuquine @dignifiedquire

/storage-proofs/        @porcuquine @dignifiedquire
/filecoin-proofs/       @porcuquine @dignifiedquire @laser
/ffi-toolkit/           @laser
/storage-backend/       @porcuquine @dignifiedquire
