[package]
name = "sha2raw"
version = "1.0.0"
authors = ["RustCrypto Developers", "Friedel Ziegelmayer <me@dignifiedquire.com>"]
license = "MIT OR Apache-2.0"
description = "SHA-2 hash function"
documentation = "https://docs.rs/sha2raw"
repository = "https://github.com/filecoin-project/rust-fil-proofs"
keywords = ["crypto", "sha2", "hash", "digest"]
categories = ["cryptography", "no-std"]
edition = "2018"

[dependencies]
digest = "0.8"
block-buffer = "0.7"
fake-simd = "0.1"
opaque-debug = "0.2"
sha2-asm = { version = "0.5", optional = true }
raw-cpuid = "7.0.3"

[dependencies.lazy_static]
version = "1.4.0"

[dev-dependencies]
digest = { version = "0.8", features = ["dev", "std"] }
hex-literal = "0.1"
sha2 = "0.8.1"
rand = "0.7.3"
rand_xorshift = "0.2.0"

[features]
default = []
asm = ["sha2-asm"]


