[package]
name = "filecoin-proofs"
version = "0.1.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
license = "MIT OR Apache-2.0"

edition = "2018"

[lib]
crate-type = ["rlib", "staticlib", "cdylib"]

[dependencies]
sector-base = { path = "../sector-base" }
storage-proofs = { path = "../storage-proofs" }
ffi-toolkit = { path = "../ffi-toolkit" }
logging-toolkit = { path = "../logging-toolkit" }
bitvec = "0.10"
chrono = "0.4"
rand = "0.4"
libc = "0.2"
failure = "0.1"
lazy_static = "1.2"
memmap = "0.7"
clap = "2"
colored = "1.6"
pbr = "1.0"
tempfile = "3"
byteorder = "1"
itertools = "0.8"
serde_cbor = "0.9.0"
serde = { version = "1", features = ["rc", "derive"] }
serde_json = "1.0"
slog = { version = "2.4.1", features = ["max_level_trace", "release_max_level_trace"] }
regex = "1"
drop_struct_macro_derive = { path = "../drop-struct-macro-derive" }
ff = "0.4.0"
blake2b_simd = "0.4.1"
phase21 = "0.3"
bellperson = "0.2"
paired = "0.15"

[dependencies.sapling-crypto]
git = "https://github.com/filecoin-project/sapling-crypto"
branch = "master"

[dependencies.sled]
version = "0.23.0"
optional = true

[dependencies.reqwest]
version = "0.9.16"
default-features = false
features = ["default-tls-vendored"]

[dev-dependencies]
gperftools = "0.2"
scopeguard = "1.0"

[build-dependencies]
bindgen = "0.47"
cbindgen = "0.8"

[features]
default = ["sled"]
cpu-profile = []
heap-profile = []
simd = ["storage-proofs/simd"]
asm = ["storage-proofs/asm"]
