[package]
name = "fil-proofs-tooling"
description = "Tooling for rust-fil-proofs"
version = "0.6.1"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
license = "MIT OR Apache-2.0"
publish = false
edition = "2018"
repository = "https://github.com/filecoin-project/rust-fil-proofs"
readme = "README.md"

[dependencies]
clap = "2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.5"
permutate = "0.3"
lazy_static = "1.2"
glob = "0.3"
human-size = "0.4"
prettytable-rs = "0.8"
regex = "1.1.6"
commandspec = "0.12.2"
chrono = { version = "0.4.7", features = ["serde"] }
memmap = "0.7.0"
bellperson = "0.4.1"
paired = "0.16.0"
fil-sapling-crypto = "0.2.1"
rand = "0.7"
storage-proofs = { path = "../storage-proofs"}
filecoin-proofs = { path = "../filecoin-proofs"}
tempfile = "3.0.8"
cpu-time = "1.0.0"
git2 = "0.10.1"
heim = "0.0"
futures-preview = "0.3.0-alpha.17"
raw-cpuid = "7.0.3"
blake2s_simd = "0.5.6"
fil_logger = "0.1"
log = "0.4.8"
uom = "0.26"
merkletree = "0.14.0"
bincode = "1.1.2"
anyhow = "1.0.23"

[features]
default = ["gpu"]
gpu = ["storage-proofs/gpu", "filecoin-proofs/gpu", "bellperson/gpu", "fil-sapling-crypto/gpu"]
