[package]
name = "fil-proofs-tooling"
description = "Tooling for rust-fil-proofs"
version = "5.4.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
license = "MIT OR Apache-2.0"
publish = false
edition = "2018"
repository = "https://github.com/filecoin-project/rust-fil-proofs"
readme = "README.md"

[dependencies]
storage-proofs = { path = "../storage-proofs", default-features = false }
filecoin-proofs = { path = "../filecoin-proofs", default-features = false }
clap = "2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.5"
lazy_static = "1.2"
glob = "0.3"
regex = "1.3.7"
commandspec = "0.12.2"
chrono = { version = "0.4.7", features = ["serde"] }
memmap = "0.7.0"
bellperson = { version = "0.12", default-features = false }
rand = "0.7"
tempfile = "3.0.8"
cpu-time = "1.0.0"
git2 = "0.13.6"
heim = { git = "https://github.com/heim-rs/heim", rev = "e22e235", features = ["host", "memory", "cpu"] }
async-std = "1.6"
blake2s_simd = "0.5.6"
fil_logger = "0.1"
log = "0.4.8"
uom = "0.30"
merkletree = "0.21.0"
bincode = "1.1.2"
anyhow = "1.0.23"
ff = { version = "0.2.3", package = "fff" }
rand_xorshift = "0.2.0"
bytefmt = "0.1.7"
rayon = "1.3.0"
flexi_logger = "0.16.1"
typenum = "1.11.2"
generic-array = "0.14.4"
byte-unit = "4.0.9"

[features]
default = ["gpu", "measurements"]
gpu = ["storage-proofs/gpu", "filecoin-proofs/gpu", "bellperson/gpu"]
measurements = ["storage-proofs/measurements"]
profile = ["storage-proofs/profile", "measurements"]
pairing = ["storage-proofs/pairing", "filecoin-proofs/pairing", "bellperson/pairing"]
blst = ["storage-proofs/blst", "filecoin-proofs/blst", "bellperson/blst"]

[target.'cfg(target_arch = "x86_64")'.dependencies]
raw-cpuid = "8.1.2"
