[package]
name = "fil-proofs-tooling"
description = "Tooling for rust-fil-proofs"
version = "0.2.0"
authors = ["dignifiedquire <dignifiedquire@gmail.com>"]
license = "MIT OR Apache-2.0"
publish = false
edition = "2018"
repository = "https://github.com/filecoin-project/rust-fil-proofs"
readme = "README.md"

[dependencies]
clap = "2"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
toml = "0.5"
failure = "0.1"
permutate = "0.3"
lazy_static = "1.2"
glob = "0.3"
human-size = "0.4"
prettytable-rs = "0.8"
regex = "1.1.6"
prometheus = { version = "0.6.1", features = ["push"] }
commandspec = "0.12.2"
